.button{
  $height:3em;
  
  margin:0 auto;
  margin-top:3em;
  margin-bottom:2em;
  border:2px solid $base-dark;
  text-align:center;
  height:$height;
  width:18vw;
  min-width:15em;
  border-radius:$rad;
  line-height:$height - .25em;
  font-weight:normal;
  
  @include transition(background-color .2s ease-in);
  background-color:$white;
  color:$base-dark;
  
  &:hover{
    color:$white;
    background-color:$base-dark;
  }
}

.fixed-button{
  z-index:3;
  position:fixed;
  bottom:5vh;
	left:75vw;
  @include box-shadow(0.2em 0.2em 0px $base-dark);
}
