.nav{
  $height:3em;

  margin:0;
  padding:0;
  list-style-type:none;
  width:100%;
  height:$height;
  //border-top:2px solid $black;
  border-bottom:2px solid $black;
  z-index:5;
  background-color:$white;
  position:fixed;
  
  li{
    display:inline;
    margin-left:1em;
    margin-right:1em;
    line-height:$height;
    
      &:hover{
        background-color:$contrast;
      }
      
      a{
        color:$black;
      }
    }
    
  li.current{
    background-color:$contrast;
  }
}