nav{
  $height:3em;

  margin:0;
  padding:0;
  width:100%;
  position:fixed;
  height:$height;
  border-bottom:2px solid $black;
  z-index:5;
  background-color:$white;


  ul{
    list-style-type:none;

    li{
      display:inline;
      margin-left:1em;
      margin-right:1em;
    
      &:hover{
        background-color:$contrast;
      }
      
      a{
        color:$black;
      }
    }
    
    li.current{
      background-color:$contrast;
    }
  }

  img{
    margin:0;
    padding:0;
    height:1em;
  }
}