body{
  color:$black;
  font-size:1em;
}

h1,h2,h3,h4,h5,h6{
  font-weight:normal;
}

/*h3{
  font-size:1.75rem;
}*/

a{
  text-decoration:none;
  font-weight:bold;
  color:$base-dark;
}

h1#main-subtitle{
  margin-top:0.25em;
  color:$black;
  font-weight:bold;
}

.contact{
  h2{
    text-align:center;
  }

  a{
    color:$black;
    background:$base-dark;
  
    &:hover{
      background:$base-light;
    }

  }
}

#works-list,.works-title{
  h2{
    font-weight:bold;
  }
  
  h3{
    margin-top:-1.25em;
  }
  
  .mobile-item h2{
    //margin-top:5em;
  }
}

#illustrations{
  a{
    font-weight:normal;
    color:$base-dark;
  }
}

.works-header{
  h2{
    margin-top:2em;
  }
  p{
    margin-top:-1em;
  }
}

.caption{

  p{
    font-size:1em;
    line-height:1.5em;
    margin-top:-1em;
  }
}