$font-stack:Metropolis,sans-serif;

body{
  color:$black;
  font-size:1rem;
}

h2{
  font-weight:bold;
}

h1,h3,h4,h5,h6{
  font-weight:normal;
}

/*h3{
  font-size:1.75rem;
}*/

a{
  text-decoration:none;
  font-weight:bold;
  color:$base-dark;
}

#main-subtitle{
  margin-top:0.5em;
  color:$neutral;
}

#works-list{
  h2{
    
  }
  
  h3{
    margin-top:-1.25em;
  }
}

