#works-list{
  margin:0;
  padding:0;

  .works-item{
    text-align:center;
    list-style-type:none;
    @include section(50vh,$base); 
    
    &:nth-child(even){
      background:$base-light;
    }
  }

  .desktop-img{
    width:35vw;
    min-width:20em;
    padding-top:3em;
    @include transition(.2s ease-in-out);
  
    &:hover{
      margin-top:-1em;
      padding-bottom:1em;
    }
  }

  .mobile-img{
    width:15vw;
    min-width:10em;
    @include transition(.2s ease-in-out);
  
    &:hover{
      margin-top:-1em;
      padding-bottom:1em;
    }
  }
 
  .button{
    margin-top:1em;
  }
}

/*.stagger{
  #works-list{
    .mobile-img{
    width:15vw;
    min-width:10em;
    @include transition(.2s ease-in-out);

    &:hover{
      margin-top:-1em;
      padding-bottom:1em;
    }
  }
}
}*/

#illustrations{
  ul{
    margin:0 auto;
    padding:0;
    text-align:center;
  }
  
  li{
    margin:0.5em;
    list-style-type:none;
    background-color:$white;
    display:inline-block;
    vertical-align:top;
    height:12em;
    width:12em;
    
    @include box-shadow(0.3em 0.3em 0px $base-dark);
    
    .title{
      padding:1em;
    }
  
    .thumb{
      height:12em;
      width:12em;
      background-color:$base-dark;
      background-size:contain;
      @include filter(grayscale, 100%);
      @include transition(.2s ease-in-out);

      &:hover{ 
        -webkit-filter:none;
        -moz-filter:none;
        -ms-filter:none;
        -o-filter:none;
        filter:none;
      }
    }

    #thumb-book{
      background-image:url("../../img/works/thumbnail/thumb-book.png"); 
    }
    
    #thumb-cs{
      background-image:url("../../img/works/thumbnail/thumb-CS.png");
    }
    
    #thumb-day-31{
      background-image:url("../../img/works/thumbnail/thumb-day31.png");
    }
    
    #thumb-lich{
      background-image:url("../../img/works/thumbnail/thumb-lich.png");
    }
  }
}

.works-header{
  @include section(20vh);
 
  img{
    max-width:60%;
    max-height:35em;
    @include box-shadow(0.3em 0.3em 0px $base-dark);
  }
}

.gif-play:hover{
  cursor:pointer;
}

.illust-header{
  padding-bottom:3em;
}

.works-process{
  @include section(50vh,$neutral);
  //padding-bottom:5em;

  img{
    width:auto;
    max-width:80%;
    max-height:25em;
    //@include box-shadow(6px 6px 0px $base-dark);
  
    &.tall{
      max-height:50em;
    }

    &.wide{
      width:100%;
    }

    &.square{
      width:60%;
      max-width:35em;
      max-height:35em;
    }
  }
}