$base:#6BD6C4;
$base-light:#99EADC;
$base-dark:#27A08C;
$neutral:#FFF0D5;
$contrast:#FA7D8C;
$white:#fff;
$black:#000;

$rad:10em;

@mixin section($height:60vh, $background:$base){
  margin:0 auto;
  padding:0;
  padding-top:3em;
  padding-bottom:3em;
  min-height:$height;
  width:100%;
  background-color:$background;
}

@mixin linear-gradient($direction, $color-stops...){
  background:nth(nth($color-stops, 1), 1);
  background:-webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background:linear-gradient($direction, $color-stops);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@mixin transition($args...){
  -webkit-transition:$args;
  -moz-transition:$args;
  -ms-transition:$args;
  -o-transition:$args;
  transition:$args;
}

@mixin keyframes($animation-name){
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }  
  @-ms-keyframes #{$animation-name} {
    @content;
  }
  @-o-keyframes #{$animation-name} {
    @content;
  }  
  @keyframes #{$animation-name}{
    @content;
  }
}

@mixin animation($str){
  -webkit-animation: #{$str};
  -moz-animation: #{$str};
  -ms-animation: #{$str};
  -o-animation: #{$str};
  animation: #{$str};      
}

@mixin box-shadow($shadow...){
  -webkit-box-shadow:$shadow;
  -moz-box-shadow:$shadow;
  box-shadow:$shadow;
}

@mixin opacity($opacity){
  opacity: $opacity;
  filter: alpha(opacity=$opacity*100);
}

@import "typography";
@import "button";
@import "nav";
@import "works";

body{
  margin:0 auto;
  padding:0;
}

.vertical{
  position:absolute;
  top:50%;
  transform:translate-y(-50%);
}

.row.stagger [class^="col"]{
  float:right;
}

#home{
  @include section(60vh,$base);
  text-align:center;
  background-image:url("../../img/title-pattern.png");
  background-attachment:fixed;
  background-repeat:repeat;
}

#about{
  @include section(60vh,$neutral);
}

#skills{
  @include section(50vh,$neutral);
}

.contact{
  @include section(50vh,$contrast);
  border-top:2px solid $black;
  
  h2{
    text-align:center;
  }
}

#name{
  margin-top:25vh;
  
  img{
    height:10vh;
    max-height:10em;
  }
  
  #joanne{
    margin-right:1em;
  }
}

#self-portrait{
  max-width:20em;
}

.icon{
  max-width:15em;
}

@media only screen and (max-width:720px) and (orientation:landscape){
  #name{
  
    img{
      height:10vw;
      max-height:10em;
    }
  }
}