body {
  color: #000;
  font-size: 1em; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

/*h3{
  font-size:1.75rem;
}*/
a {
  text-decoration: none;
  font-weight: bold;
  color: #27A08C; }
  a.ext-link:hover {
    color: #000;
    background: #99EADC; }

h1#main-subtitle {
  margin-top: 0.25em;
  color: #000;
  font-weight: bold; }

.contact h2 {
  text-align: center; }
.contact a {
  color: #000;
  background: #27A08C; }
  .contact a:hover {
    background: #99EADC; }

#works-list h2, .works-title h2 {
  font-weight: bold; }
#works-list h3, .works-title h3 {
  margin-top: -1.25em; }

#illustrations a {
  font-weight: normal;
  color: #27A08C; }

.works-header h2 {
  margin-top: 2em; }
.works-header p {
  margin-top: -1em; }

.caption p {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: -1em; }

.button {
  margin: 0 auto;
  margin-top: 3em;
  margin-bottom: 2em;
  border: 2px solid #27A08C;
  text-align: center;
  height: 3em;
  width: 18vw;
  min-width: 15em;
  border-radius: 10em;
  line-height: 3em;
  font-weight: normal;
  -webkit-transition: background-color 0.2s ease-in;
  -moz-transition: background-color 0.2s ease-in;
  -ms-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
  background-color: #fff;
  color: #27A08C; }
  .button:hover {
    color: #fff;
    background-color: #27A08C; }

.fixed-button {
  z-index: 3;
  position: fixed;
  bottom: 5vh;
  left: 75vw;
  -webkit-box-shadow: 0.2em 0.2em 0px #27A08C;
  -moz-box-shadow: 0.2em 0.2em 0px #27A08C;
  box-shadow: 0.2em 0.2em 0px #27A08C; }

nav {
  margin: 0;
  padding: 0;
  width: 100%;
  position: fixed;
  height: 3em;
  border-bottom: 2px solid #000;
  z-index: 5;
  background-color: #fff; }
  nav ul {
    list-style-type: none; }
    nav ul li {
      display: inline;
      margin-left: 1em;
      margin-right: 1em; }
      nav ul li:hover {
        background-color: #FA7D8C; }
      nav ul li a {
        color: #000; }
    nav ul li.current {
      background-color: #FA7D8C; }
  nav img {
    margin: 0;
    padding: 0;
    height: 1em; }

#preload {
  display: none; }
  #preload li {
    list-style-type: none; }
  #preload:nth-child(1) {
    background-image: url("../../img/works/thumbnail/thumb-book.png"); }
  #preload:nth-child(2) {
    background-image: url("../../img/works/thumbnail/thumb-CS.png"); }
  #preload:nth-child(3) {
    background-image: url("../../img/works/thumbnail/thumb-lich.png"); }
  #preload:nth-child(4) {
    background-image: url("../../img/works/thumbnail/thumb-day31.png"); }

#works-list {
  margin: 0;
  padding: 0; }
  #works-list .works-item {
    text-align: center;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    padding-top: 3em;
    padding-bottom: 3em;
    min-height: 50vh;
    width: 100%;
    background-color: #6BD6C4; }
    #works-list .works-item:nth-child(even) {
      background: #99EADC; }
  #works-list .desktop-img {
    width: 35vw;
    min-width: 20em;
    padding-top: 3em; }
  #works-list .mobile-img {
    width: 15vw;
    min-width: 10em; }
  #works-list .button {
    margin-top: 1em; }

#illustrations ul {
  margin: 0 auto;
  padding: 0;
  text-align: center; }
#illustrations li {
  margin: 0.5em;
  list-style-type: none;
  background-color: #fff;
  display: inline-block;
  vertical-align: top;
  height: 12em;
  width: 12em;
  -webkit-box-shadow: 0.3em 0.3em 0px #27A08C;
  -moz-box-shadow: 0.3em 0.3em 0px #27A08C;
  box-shadow: 0.3em 0.3em 0px #27A08C; }
  #illustrations li .title {
    padding: 1em; }
  #illustrations li .thumb {
    height: 12em;
    width: 12em;
    background-color: #27A08C;
    background-size: contain; }
  #illustrations li #thumb-book {
    background-image: url("../../img/works/thumbnail/greyscale/thumb-book.png"); }
    #illustrations li #thumb-book:hover {
      background-image: url("../../img/works/thumbnail/thumb-book.png"); }
  #illustrations li #thumb-cs {
    background-image: url("../../img/works/thumbnail/greyscale/thumb-CS.png"); }
    #illustrations li #thumb-cs:hover {
      background-image: url("../../img/works/thumbnail/thumb-CS.png"); }
  #illustrations li #thumb-day-31 {
    background-image: url("../../img/works/thumbnail/greyscale/thumb-day31.png"); }
    #illustrations li #thumb-day-31:hover {
      background-image: url("../../img/works/thumbnail/thumb-day31.png"); }
  #illustrations li #thumb-lich {
    background-image: url("../../img/works/thumbnail/greyscale/thumb-lich.png"); }
    #illustrations li #thumb-lich:hover {
      background-image: url("../../img/works/thumbnail/thumb-lich.png"); }

.works-header {
  margin: 0 auto;
  padding: 0;
  padding-top: 3em;
  padding-bottom: 3em;
  min-height: 20vh;
  width: 100%;
  background-color: #6BD6C4; }
  .works-header img {
    max-width: 60%;
    max-height: 35em;
    -webkit-box-shadow: 0.3em 0.3em 0px #27A08C;
    -moz-box-shadow: 0.3em 0.3em 0px #27A08C;
    box-shadow: 0.3em 0.3em 0px #27A08C; }

.gif-play:hover {
  cursor: pointer; }

.illust-header {
  padding-bottom: 3em; }

.works-process {
  margin: 0 auto;
  padding: 0;
  padding-top: 3em;
  padding-bottom: 3em;
  min-height: 50vh;
  width: 100%;
  background-color: #FFF0D5; }
  .works-process img {
    width: auto;
    max-width: 80%;
    max-height: 25em; }
    .works-process img.tall {
      max-height: 50em; }
    .works-process img.wide {
      width: 100%; }
    .works-process img.square {
      width: 60%;
      max-width: 35em;
      max-height: 35em; }

body {
  margin: 0 auto;
  padding: 0; }

.vertical {
  position: absolute;
  top: 50%;
  transform: translate-y(-50%); }

.row.stagger [class^="col"] {
  float: right; }

#home {
  margin: 0 auto;
  padding: 0;
  padding-top: 3em;
  padding-bottom: 3em;
  min-height: 50vh;
  width: 100%;
  background-color: #6BD6C4;
  text-align: center;
  background-image: url("../../img/title-pattern.png");
  background-attachment: fixed;
  background-size: 25%;
  background-repeat: repeat; }

#about {
  margin: 0 auto;
  padding: 0;
  padding-top: 3em;
  padding-bottom: 3em;
  min-height: 40vh;
  width: 100%;
  background-color: #FFF0D5; }

#skills {
  margin: 0 auto;
  padding: 0;
  padding-top: 3em;
  padding-bottom: 3em;
  min-height: 40vh;
  width: 100%;
  background-color: #FFF0D5; }

.contact {
  margin: 0 auto;
  padding: 0;
  padding-top: 3em;
  padding-bottom: 3em;
  min-height: 20vh;
  width: 100%;
  background-color: #FA7D8C;
  border-top: 2px solid #000; }

#name {
  margin-top: 19vh; }
  #name img {
    height: 10vh;
    max-height: 10em; }
  #name #joanne {
    margin-right: 1em; }

#self-portrait {
  max-width: 20em; }

.icon {
  max-width: 15em; }

@media only screen and (max-width: 736px) and (orientation: landscape) {
  #name img {
    height: 10vw;
    max-height: 10em; } }

/*# sourceMappingURL=style.css.map */
